.categoriesMainContainer {
  display: flex;
  width: 90%;
  margin: 11.5rem 5% 0;
  height: auto;
  flex-direction: column;
  align-items: flex-start;
  gap: 5rem;
  box-sizing: border-box;
  position: relative;
}

.textContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}

.categoriesTitle {
  color: var(--Absolute-White, #fff);
  font-size: 2.375rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  align-self: stretch;
}

.categoriesHeading {
  color: var(--Grey-60, #999);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  align-self: stretch;
}

.carouselContainer {
  width: 100%;
  height: 21.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 7rem !important;
  box-sizing: border-box;
  overflow: hidden;
}

/* Categories carousel navigation buttons */
:global(.swiper-button-prev),
:global(.swiper-button-next) {
  --swiper-navigation-size: 4rem;
  --swiper-navigation-sides-offset: 1rem;
  --swiper-navigation-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

:global(.swiper-button-prev:hover),
:global(.swiper-button-next:hover) {
  --swiper-navigation-color: #e50000;
}

:global(.swiper-pagination-bullet) {
  --swiper-pagination-color: #e50000;
  --swiper-pagination-bullet-inactive-color: #ffffff;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
}

.categoryCard {
  width: 18.4625rem;
  height: 100%;
  display: flex;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 0 0;
  border-radius: 0.75rem;
  border: 1px solid var(--Black-15, #262626);
  background: var(--Black-10, #1a1a1a);
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;
}

.imagesContainer {
  width: 14.8124rem;
  height: 15.75rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5.2px;
  grid-row-gap: 5.2px;
  mask-image: linear-gradient(to top, transparent 3%, var(--Black-10, #1a1a1a));
}

.frame1 {
  grid-area: 1 / 1 / 2 / 2;
  border-radius: 0.625rem;
  flex: 1 0 0;
  align-self: stretch;
  box-sizing: border-box;
  position: relative;
}
.frame2 {
  grid-area: 1 / 2 / 2 / 3;
  border-radius: 0.625rem;
  flex: 1 0 0;
  align-self: stretch;
  box-sizing: border-box;
  position: relative;
}
.frame3 {
  grid-area: 2 / 2 / 3 / 3;
  border-radius: 0.625rem;
  flex: 1 0 0;
  align-self: stretch;
  box-sizing: border-box;
  position: relative;
}
.frame4 {
  grid-area: 2 / 1 / 3 / 2;
  border-radius: 0.625rem;
  flex: 1 0 0;
  align-self: stretch;
  box-sizing: border-box;
  position: relative;
}

.categoryCard:hover {
  transform: scale(1.1);
}

.categoryTitleContainer {
  width: 100%;
  display: flex;
  align-items: center;
  align-self: stretch;
  box-sizing: border-box;
}

.categoryTitle {
  color: var(--Absolute-White, #fff);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  flex: 1 0 0;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Media Queries */

@media (max-width: 1280) {
  .categoriesMainContainer {
    margin: 14rem 5% 0;
  }

  .carouselContainer {
    padding: 0 6rem !important;
  }
  .categoryCard {
    width: 14.8124rem;
    padding: 2rem 1rem;
    align-items: center;
    justify-content: center;
  }

  .imagesContainer {
    width: 12.8124rem;
  }
}

@media (max-width: 1024) {
  .categoriesMainContainer {
    margin: 3.25rem 5% 0;
    width: 90%;
    padding: 0 1.5rem;
  }

  .categoriesTitle {
    font-size: 1.75rem;
  }

  .categoriesHeading {
    font-size: 0.875rem;
  }

  :global(.swiper-button-prev),
  :global(.swiper-button-next) {
    --swiper-navigation-size: 3rem;
    --swiper-navigation-sides-offset: 0.5rem;
  }

  .carouselContainer {
       padding: 0rem 10.825rem !important;
  }

  .categoryCard {
    width: calc(50% - 10px);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 0 auto;    
  }

  .imagesContainer {
    width: 7.525rem;
  }
}

@media (max-width: 720) {
  .categoriesMainContainer {
    display: flex;
    padding: 0 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2.5rem;
  }

  .textContainer {
    gap: 0.5rem;
    align-self: stretch;
  }

  .categoriesTitle {
    font-size: 1.5rem;
    line-height: 150%;
    align-self: stretch;
  }

  .categoriesHeading {
    font-size: 0.875rem;
    line-height: 150%;
    align-self: stretch;
  }

  .carouselContainer {
    padding: 0 4.25rem !important;
  }

  .categoryCard {
    padding: 1.25rem;
    flex: 1 0 0;
    width: 11.15rem;
  }

  .imagesContainer {
    width: 9.8124rem;
  }

  :global(.swiper-button-prev),
  :global(.swiper-button-next) {
    --swiper-navigation-size: 2.5rem;
  }
}
