.mainContainer {
  display: flex;
  width: 100dvw;
  height: 12dvh;
  padding: 1.875rem 20.125rem;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: absolute;
}

.logoContainer {
  display: flex;
  width: 12.4375rem;
  height: 3.75rem;
  justify-content: center;
  align-items: center;
  gap: 0.1875rem;
  flex-shrink: 0;
  position: relative;
  box-sizing: border-box;
}

.logo {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.desktopNavContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  height: inherit;
  padding: 0;
  gap: 1.875rem;
}

.linksContainer {
  display: flex;
  padding: 0.625rem;
  align-items: center;
  justify-content: space-between;
  gap: 1.875rem;
  box-sizing: border-box;
  left: 42.6875rem;
  top: 1.375rem;
  border-radius: 0.75rem;
  border: 4px solid var(--Black-12, #1f1f1f);
  background: var(--Black-06, #0f0f0f);
}

.linksButtons {
  display: flex;
  padding: 0.875rem 1.5rem;
  align-items: center;
  gap: 0.625rem;
  box-sizing: border-box;
  border-radius: 0.5rem;
  border: 1px solid var(--Black-10, #1a1a1a);
  background: var(--Black-10, #1a1a1a);
}

.actionsContainer {
  width: 6.125rem;
  height: 2.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.875rem;
  box-sizing: border-box;
}

.actionButton {
  width: 2.125rem;
  height: 2.125rem;
  border: none;
  background: none;
  box-sizing: border-box;
  position: relative;
}

@media (max-width: 768) {
  .mainContainer {
    padding: 1.875rem 2.125rem;
  }
}
