.mainContainer {
  display: flex;
  width: 100dvw;
  padding: 1.5rem 5rem;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: absolute;
}

.logoContainer {
  display: flex;
  width: 10.36458rem;
  height: 3.125rem;
  justify-content: center;
  align-items: center;
  gap: 0.1875rem;
  flex-shrink: 0;
  position: relative;
  box-sizing: border-box;
}

.logo {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.desktopNavContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  height: 3.8125rem;
  padding: 0;
  gap: 1.875rem;
}

.linksContainer {
  display: flex;
  padding: 0.625rem;
  align-items: center;
  justify-content: space-between;
  gap: 1.875rem;
  box-sizing: border-box;
  width: 25,75rem;
  height: 100%;
  left: 42.6875rem;
  top: 1.375rem;
  border-radius: 0.75rem;
  border: 4px solid var(--Black-12, #1f1f1f);
  background: var(--Black-06, #0f0f0f);
}

.linkButton {
  display: flex;
  padding: 0.875rem 1.5rem;
  align-items: center;
  gap: 0.625rem;
  box-sizing: border-box;
  color: var(--Grey-75, #bfbfbf);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.3125rem */
}

.linkButton:hover {
  border-radius: 0.5rem;
  background: var(--Black-10, #1a1a1a);
}

.linkButton:active {
  border-radius: 0.5rem;
  background: var(--Black-10, #1a1a1a);
  font-weight: 500;
}

.actionsContainer {
  width: 6.125rem;
  height: 2.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.875rem;
  box-sizing: border-box;
}

.actionButton {
  width: 2.125rem;
  height: 2.125rem;
  border: none;
  background: transparent;
  box-sizing: border-box;
  position: relative;
}

.actionButton:hover {
  border-radius: 0.5rem;
  border: 1px solid var(--Black-06, #0f0f0f);
  background: var(--Black-06, #0f0f0f);
}

.actionButton:active {
  border-radius: 0.5rem;
  border: 1px solid var(--Black-06, #0f0f0f);
  background: var(--Black-06, #0f0f0f);
}

@media (max-width: 1024) {
  .mainContainer {    
    padding: 1.5rem 2rem;    
  }
  
  .linksContainer {
    padding: 0.525rem;
    gap: 0.725rem;    
    width: 25.125rem;
  }

  .linkButton {
    padding: 0.875rem 0.5rem;
    font-size: 0.725rem;
    line-height: 150%;
    gap: 0.125rem;
  }
}

@media (max-width: 768) {
  .mainContainer {
    padding: 1.875rem 2.125rem;
  }
}
