:root {
  --background: #1e1e1e;
  --foreground: #ffffff;
  --absolute-white: #fff;
  --text-grey: #999;
  --black-border: #262626;
  --black-10: #141414;
  --black-06: #0f0f0f;
  --black-20: #1a1a1a;
}

html,
body {
  max-width: 100dvw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Manrope, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Categories carousel navigation buttons */
.swiper-button-prev,
.swiper-button-next {
  --swiper-navigation-size: 4rem;
  --swiper-navigation-sides-offset: 1rem;
  --swiper-navigation-color: var(--absolute-white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  --swiper-navigation-color: #e50000;
}

.swiper-pagination-bullet {
  --swiper-pagination-color: #e50000;
  --swiper-pagination-bullet-inactive-color: var(--Black-20, #333);
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-width: 1.4375rem;
  --swiper-pagination-bullet-height: 0.25rem;
  --swiper-pagination-bullet-border-radius: 6.25rem;
}

@media (max-width: 720px) {
  .swiper-button-prev,
  .swiper-button-next {
    --swiper-navigation-size: 2.5rem;
  }
  .swiper-pagination {
    display: none !important;
  }
}
