.page {
  background: inherit;
  display: flex;
  align-items: center;
  padding: 0;
  width: 100dvw;
  min-height: 100dvh;
  overflow-x: hidden;
  box-sizing: border-box;
}

.main {
  width: 100%;
  min-height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}
