.moviesSectionMainContainer {
  display: flex;
  width: 90%;
  margin: 9.38rem 5% 0;
  margin-top: 12.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: -2.175rem;
  position: relative;
}

.moviesHeadingContainer {
  width: 100%;
  display: flex;
  padding: 0rem 3.125rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
  align-self: stretch;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.headingContainer {
  display: flex;
  padding: 0.625rem 1.5rem;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.5rem;
  background: var(--Red-45, #e50000);
  box-sizing: border-box;
}

.heading {
  color: var(--Absolute-White, #fff);
  text-align: center;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 1.875rem */
}

.moviesSwipersContainer {
  width: 100%;
  display: flex;
  padding: 3.125rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 6.25rem;
  align-self: stretch;
  box-sizing: border-box;
  border-radius: 0.75rem;
  border: 1px solid var(--Black-15, #262626);
  margin-top: 1.25rem; /* Ajustar si es necesario para el espaciado */
}

@media (max-width: 1024px) {
  .moviesSectionMainContainer {
    margin: 3.25rem 5% 0;
  }
}
@media (max-width: 720px) {
  .moviesSectionMainContainer {
    margin-top: 5rem;
  }
  .moviesSwipersContainer {
    gap: 1.75rem;
    padding: 0;
  }

  .moviesHeadingContainer {
    width: 100%;
    display: flex;
    padding: 0rem 1.125rem;
  }
}
