.sliderMainContainer {
  width: 90%;
  margin: 9.38rem 5% 0;
  height: 80dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  box-sizing: border-box;
  border-radius: 0.75rem;
  border: 1px solid #262626;
}

.swiper {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 0.75rem;
}

.swiperSlide {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 3.125rem 3.125rem 6.725rem 3.125rem;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 3.125rem;
  flex-shrink: 0;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: overlay;
  background-color: rgba(20, 20, 20, 0.6);
}

.infoContainer {
  height: 40%;
  max-height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 1.875rem;
  align-self: stretch;
  box-sizing: border-box;
}

.textContainer {
  height: 60%;
  max-height: 60%;
  display: flex;
  padding: 0rem 9.375rem;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  align-self: stretch;
  box-sizing: border-box;
}

.title {
  color: var(--Absolute-White, #fff);
  text-align: center;
  font-size: 2.375rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 3.5625rem */
  align-self: stretch;
}

.paragraph {
  color: var(--Grey-60, #999);
  text-align: center;
  font-family: Manrope;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 1.6875rem */
  align-self: stretch;
}

.buttonsContainer {
  display: flex;
  align-items: flex-start;
  gap: 1.25rem;
  box-sizing: border-box;
}

.actionButtonsContainer {
  display: flex;
  gap: 0.62rem;
  align-items: stretch;
  justify-content: space-between;
  box-sizing: border-box;
}

.playButton {
  display: flex;
  padding: 0.875rem 1.5rem;
  align-items: center;
  gap: 0.25rem;
  box-sizing: border-box;
  border-radius: 0.5rem;
  background: var(--Red-45, #e50000);
  color: var(--Absolute-White, #fff);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 153%; /* 1.72125rem */
  transition: transform 0.3s ease-in-out;
}

.playButton:hover {
  background: var(--Red-30, #ff0000);
  transform: scale(1.1);
}

.actionButton {
  display: flex;
  padding: 0.875rem;
  align-items: flex-start;
  gap: 0.625rem;
  border-radius: 0.5rem;
  border: 1px solid var(--Black-15, #262626);
  background: var(--Black-06, #0f0f0f);
  box-sizing: border-box;
}

.actionButton:hover {
  background: var(--Black-12, #1f1f1f);
}

@media (max-width: 1280px) {
  .infoContainer {
    padding: 0;
    height: fit-content;
    max-height: fit-content;
    gap: 1.25rem;
    flex-shrink: 0;
  }

  .textContainer {
    height: fit-content;
    max-height: fit-content;
  }
}

@media (max-width: 720px) {
  .sliderMainContainer {
    padding: 1.5rem 1.5rem 1rem 1.5rem;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 1.25rem;
    flex-shrink: 0;
  }

  .swiperSlide {
    padding: 1.5rem;
    gap: 1.5rem;
  }

  .textContainer {
    padding: 0;
  }
  .title {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
  }

  .paragraph {
    display: none !important;
  }

  .buttonsContainer {
    flex-direction: column;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    align-self: stretch;
  }

  .playButton {
    width: 100%;
    display: flex;
    padding: 0.875rem 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    align-self: stretch;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 153%; /* 1.33875rem */
  }

  .playButton:hover {
    transform: none;
  }

  .actionButton {
    padding: 0.75rem;
  }
}
